.list{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,8cm);
    margin-top: 5cm;
}
 .images{
    min-width: 7cm;
    max-width: 7cm;
    min-height: 4cm;
    max-height: 4cm;
   border-radius: 1cm;
    margin-top: 2mm;
    margin-bottom: 2mm;
    margin-left: 2mm;
    cursor: pointer;
 }
.header{
    text-align: center;
    margin-top: 2cm;
}
.aa{
    color: #f79256;
    font-size: 1.5cm;
    font-weight: bolder;
}
.bb{
    color:#fbd1a2;
    font-size: 1.5cm;
    font-weight: bolder;
}